

body{
  background-color: rgb(255, 255, 255);
}


#logo{
    color:rgb(227, 42, 0);
    font-size: 36px;
  }



.navbar-text{
  color:rgb(227, 42, 0);
  font-size: 36px;
}

.jumbotron{
  min-height: 409.600px;
  padding: 40px 40px;
  background-image: url('/assets/images/hero-images.jpg');
  background-position: center;
}

#home-page-lobster-banner{
  background-color: rgba(245, 45, 0, 0.9);
  margin:auto;
  padding: 40px 40px;
  width: 50%;
  min-width: 474px;
  text-align: center;
  color: #FFFFFF;

}


#request-btn{
  color: rgb(48, 48, 48);
  background-color: rgb(255, 255, 255);
  border: none;
}

#home-page-description{
  padding: 56px 0px;
  text-align: center;
}

#home-page-description h4{
  color: rgb(27, 27, 27);
}

#home-page-description p{
 color: rgb(94, 94, 94);
}


#footer{
  text-align: center;
  background-color: rgb(246, 246, 246);
}


#footer-navbar{
  text-align: center;
  margin: 0 auto;
}


.footer-links a{
  color:rgb(21, 21, 21);
  text-decoration: none;
}

.footer-links a:hover{
  color:rgb(245, 45, 0);
  font-size: 16px;
}

#inventory-header{
  text-align: center;
}

/* Quote page styling */
.register-btn{
  background-color:rgb(245, 45, 0);
  color: rgb(246, 246, 246);
  padding: 18px 22px;
  border: none;
}

.register-btn:hover{
  color:rgb(245, 45, 0);
  background-color: rgb(246, 246, 246);
}


.label-styling{
  float: left;
}

.quote-container{
  text-align: center;
  min-height: 500px;
}

.submitted-quote{
  min-height: 500px;
}



.margin-top {
  margin-top: 1.25rem;
}

.custom-header{
  background-color: rgb(245, 45, 0);
  color:#FFFFFF;
}




.send-btn{
  background-color:rgb(245, 45, 0);
  color: rgb(246, 246, 246);
  padding: 18px 22px;
  margin: 10px 10px;
  border: none;
}


.send-btn:hover{
  color:rgb(245, 45, 0);
  background-color: rgb(246, 246, 246);
}

.page-header-text{
  color:rgb(245, 45, 0);
}


.aboutus-container{
  min-width: 500px;
}


#lobsterimage{
  height: 200px;
  width: 300px;
}


/* Contact page styling */
.contact-page-container{
  max-width: 650px;
  min-height: 500px;
}

#contact-page-header{
  text-align: center;
}

/* About page extra styling */
.col-about-page{
  min-height: 200px;
}

.page-height-controller{
  min-height: 500px;
}

.button-container{
  float: left;
}

.admin-link a{
  color:rgb(245, 45, 0);
  margin-left: 150px;
}

.details-btn{
  background-color: #FFFFFF;
  color:rgb(245, 45, 0);
  border: 1px solid rgb(245, 45, 0);
}

.details-btn:hover{
  background-color: rgb(245, 45, 0);
  color: #FFFFFF;
  border: none;
}

.delete-btn:hover{
  background-color: #FFFFFF;
  color:rgb(245, 45, 0);
  border: #FFFFFF;
}



/* Media Queries */
@media (max-width: 500px){
  .navbar-text{
    visibility: hidden;
  }  
}








